<section data-ng-app="homeApp" data-ng-controller="homeController">

    <h1 class="my-4">Most Popular
        <small>Secondary Text</small>
    </h1>
    <!-- Blog Post -->
    <div class="card mb-4" ng-repeat="post in posts">
        <img class="post-image" src="http://via.placeholder.com/350x150">
        <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.context | limitTo:120:0}}</p>
            <a ui-sref="post({postId:post.id})" class="btn btn-primary">Read More &rarr;</a>
            <a ui-sref="#" class="btn btn-warning">Edit</a>
        </div>
        <div class="card-footer text-muted">
            Posted on {{post.published_date}} by
            <a href="#">Lorem</a>
        </div>
    </div>


    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>
</section>