<!doctype html>
<html lang="en" data-ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main.bundle.css">
</head>
<body>


<div ui-view="header"></div>
<div ui-view="content"></div>
<div ui-view="footer"></div>


<script src="/static/main.bundle.js"></script>
</body>
</html>